<h1>ADD A COCKTAIL</h1>
<%= form_for [@cocktail] do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "Name of the cocktail you wanna add :" %>
<% end %>
<p> <% link_to "Add an ingredient",????%> </p>
